/* title styling */ 
#plumepal {
    /* font-family: 'Dosis', sans-serif;  */
    font-size : 50px; 
}

#Plume {
    color : rgb(230, 134, 134);
}

.sidebar { 
    display: inline-flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-end; 
    margin: 0px;
    margin-top: 1vh;
    /* margin-left: 0.5vw; */

    /* background-color: rgb(125, 141, 161); */
    /* border-style: solid; */
    /* border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    -webkit-border-top-right-radius: 10px; 
    -moz-border-bottom-right-radius: 10px; 
    -moz-border-top-right-radius: 10px;  */

    width: 20vw; 
    height: inherit; 
}

/* nav bar */
.navigation { 
    display : inline-flex; 
    flex-direction: row;
    width : 20vw;
    justify-content: space-evenly;
}

.nav-button { 
    background-color: white;

    width: 50%;
    height: 100%;

    /* color: white;  */

    padding: 10; 
    padding-bottom: 6;  
    margin-bottom: 10; 
    text-align: center;
}

.nav-button.active,
.nav-button.hover
{ 
    border-bottom-style: solid;
    -webkit-border-bottom-style: solid; 
    -moz-border-bottom-style: solid; 
    border-bottom-width: 10px;
    -webkit-border-bottom-style: 10px; 
    -moz-border-bottom-style: 10px; 
    color: black; 
}

button { 
    margin-top: 10;
}

/* sidebar tabs */ 
.sidebar-tool { 
    display: inline-flex; /* so we start with right formatting */ 
    flex-direction: column; 
    margin: 2px; 
    margin-bottom: 2vh; 
    padding: 5px; 
    justify-content: space-between;
    align-items: center; 
    align-content: center;

    border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 

    /* border-style: solid;  */
    background-color: white; 
    /* border-color: rgb(230, 134, 134); */

    width: 95%; 
    /* height: 100%; */
    
    display: none;
}

#view-tab { 
    height: 31.5vh;
    margin-bottom: 0px;
}
#data-tab {
    height: 65vh;
}

#view-tab { 
    justify-content: flex-start;
}

.sidebar-tool.active { 
    display: inline-flex;
}

.dropdown-container { 
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dropdown-label {
    font-size: 12px;
    padding-top: 7px;
    margin-right: 20px;
}

/* .plot-selection {
    border-radius: 500px !important;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px; 

    appearance: none;
    border-color: rgb(225, 230, 239);

    background: white;
} */
